.item_container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: #bbdefb;
}

.item_title {
    width: 100%;
    font-size: 1.5rem;
}

.item_delete {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.item_delete:hover {
    color: crimson;
}

.item_edit {
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 5px;
}



