.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin: 0 auto 1rem;
}

.input_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}