.todo_container {

}

.todo_header {
  background-color: cornflowerblue;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.todo_input {
  max-width: 600px;
  margin: 0 auto;
}

.todo_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.no_todo {
  text-align: center;
  font-size: 1.8rem;
}
