.list {
    padding: 0;
}

.item {
    background-color: lightsteelblue;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    box-shadow: 4px 2px 9px -1px rgba(34, 60, 80, 0.35);
    list-style-type: none;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no_tasks {
    text-align: center;
}

